/* <!-- Google Fonts --> */
/* <!-- QuickSand Font - Page Default Font --> */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

/* <!-- Comforter Brush Font - Page Title Font --> */
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');

h1, body, p {
    font-family: "Quicksand", sans-serif;
    color: white;
    
    background-image: url("background2.jpeg");
}

h2 {
    position: absolute;
    top: 0;
    left: 0;
}

/* <!-- Help Button --> */
.help-button {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* <!-- Help Button Text --> */
.help-text {
    display: none;
}

.help-button:hover + .help-text {
    font-family: "Quicksand", sans-serif;
    width: 250px;
    position: absolute;
    bottom: 50px;
    right: 0;
    display: block;
    color: white;
}

/* <!-- Buy Tokens Button --> */
.btn {
    font-family: "Quicksand", sans-serif !important;
    background-color: goldenrod !important;
    font-weight: bold !important;
}

/* <!-- Page Title --> */
.banner {
    font-family: 'Comforter Brush', cursive;
    font-size: 100px;
    color: white;
}

/* <!-- Donate Frame CSS --> */
.donate {
    position: absolute;
    bottom: 0;
    border: 2px solid goldenrod;
    border-radius: 5px;
    color: white;
}

/* <!-- Spinning Logo --> */
.spin {
    animation-name: spinAround;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* <!-- Spinning Logo Animation --> */
@keyframes spinAround {
    from { transform: rotateY(0deg) }
    to { transform: rotateY(360deg) }
}

@media screen and (max-width: 810px) {
    .banner {
        font-size: 10vh;    
    }

    .help-button:hover + .help-text {
        width: 400px;
        position: absolute;
        bottom: 50px;
        right: 0;
        display: block;
    }
    
    .spin {
        display: none;
    }

    .help-button {
        right: 0;
        bottom: 0;
    }

    .donate {
        width: 45vh;
    }
}
